<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<!--    <link rel="stylesheet" th:href="@{/style.css}">-->
</head>

<body>
<div class="display-1 p-25">Home</div>

<div class="container">
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" id="input_url">
            <button class="btn btn-outline-success form-control" id="btn_url">Check url!</button>
            <div id="result_url"></div>
        </div>
        <div class="col">
            <form class="form" enctype="multipart/form-data" id="form_csv"
                    th:method="post" th:action="@{/home/check_csv}">
                <input class="form-control" type="file" id="input_csv" name="file">
                <button class="btn btn-outline-success form-control" id="btn_csv">Check csv!</button>
            </form>
            <div id="result_csv"></div>
        </div>
    </div>



    <script>

        function httpGet(theUrl) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }

        var btnUrl = document.getElementById("btn_url");
        btnUrl.addEventListener("click", function() {
            var str = input_url.value;
            str = str.trim()
                     .replaceAll('http://', '')
                     .replaceAll('https://', '');
            var i = str.indexOf('/');
            if (i != -1) {
                str = str.substring(0, i);
            }
            if (str.length < 4) {
                result_url.innerHTML = "incorrect data";
            } else {
                result_url.innerHTML = httpGet("home/check/" + str);
            }
        });

        var btnCsv = document.getElementById("btn_csv");
        btnCsv.addEventListener("click", function() {
            result_csv.innerHTML = "Wait please, your answer is being calculated"
        });

    </script>
</div>

</body>
</html>